@media (prefers-color-scheme: dark) {
  :root {
    --bg: #111;
    --text: #ccc;
    --text-bold: #fff;
    --text-heading: #ddd;
    --link: #eee;
    --link-hover: #ccc;
    --accent-1: #444;
    --accent-2: #282828;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --bg: #f0f0f0;
    --text: #222;
    --text-bold: #111;
    --text-heading: #333;
    --link: #111;
    --link-hover: #484848;
    --accent-2: #ccc;
    --accent-1: #333;
  }
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--text-heading);
  font-family: "Georgia", sans-serif;
}

h2, h3, h4, h5 {
  margin-bottom: 0;
}

b,
strong {
  color: var(--text-bold);
}

a {
  color: var(--link);
}

a:hover {
	color: var(--link-hover);
}

html {
  color: var(--text);
  font-family: "Georgia", serif;
  font-size: 1.2em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: var(--bg);
}

body {
  padding: 15px;
  display: flex;
  flex-direction: column;
  line-height: 1.55;
  width: 100%;
  max-width: 800px;
  box-sizing: border-box;
}

p {
  font-family: "Inter", sans-serif;
}

.p-start {
  font-family: "Georgia", serif;
  font-size: 1.5em;
}

table {
  border-collapse: collapse;
  border: 1px solid var(--accent-1);
}

th,
td {
  border: 1px solid var(--accent-1);
  padding: 10px;
}

ul, ol {
  margin-top: 0;
  margin-bottom: 0;
}

li {
  margin-top: 15px;
  margin-bottom: 15px;
}

.site-title {
  font-size: 2.5em;
  margin-bottom: 10px;
  margin-top: 10px;
  text-align: center;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 1.2em;
  margin-bottom: 20px;
}

blockquote {
  border: 2px dashed var(--accent-2);
  padding: 5px 15px;
  margin: 0;
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block {
  border: 2px dashed white;
  /* padding: 5px 15px; */
  /* margin: 0 10px; */
  text-align: left;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.block h1 {
  font-size: 1em;
  text-align: center;
  margin-bottom: 0;
  color: var(--text-heading);
}

.note{
  border-color: var(--accent-2);
}

.note h1{
  border-bottom: 2px dashed var(--accent-2);
  border-color: var(--accent-2);
  background-color: var(--accent-2);
  margin: 0 !important;
  text-align: left;
  padding-left: 15px;
  padding-top: 7px;
  padding-bottom: 7px;
}

.block p {
  padding-left: 15px;
}

.small {
  font-size: 0.8em;
}

.wave {
  background: #111;
  color: #fff;
  text-shadow: 1px 1px 10px #fff, 1px 1px 10px #ccc;
}

footer {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer hr {
  width: 100%;
}

#contacts{
  margin-top: 15px;
}

pre {
  border-top: 2px dashed var(--accent-1);
  border-bottom: 2px dashed var(--accent-1);
  padding: 10px 5px;
}

pre, code{
  white-space: pre;
  overflow-x: scroll;
}

pre::-webkit-scrollbar {
  width: 10px;
  height: 10px;
}

pre::-webkit-scrollbar-thumb {
  background-color: var(--accent-1);
}

pre::-webkit-scrollbar-track {
  background-color: var(--bg);
}

details summary {
  text-align: center;
  cursor: pointer;
}

details p{
  text-align: left;
}
